body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* ---------------- navigation bar style ---------------- */
header{
    display: flex;
    padding: 0px 5%;
    justify-content: space-between;
    background-color: #F7F7F8;
}

.main-nav{
   padding: 10px;
   display: flex;
   justify-content: space-between;
   column-gap: 40px;
}


.main-nav a{
    font-size: 20px;
    color: #3d414a;
    text-decoration: none;
    transition-duration: 0.3s;
}

.main-nav a:hover{
    color: #fb6376;
}

#selected{color: #5762D5;}

/* ---------------- intro section ---------------- */
#intro{
    background-color: whitesmoke;
    color: black;
    display: flex;
    width: 1100px;
    margin: 100px auto;
    justify-content: space-between;
}

#intro h1{font-size: 30px;}

#intro p{
    font-size: 18px;
    margin-bottom: 40px;
    color: #3c404a;
}

#intro a{
    background-color: #5762D5;
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 22px;
    transition-duration: 0.3s;
}

#intro a:hover{
    background-color: #3c47bd;
    cursor: pointer;
}

video{
    border-radius: 20px;
    width: 40%;
}

.product-nav{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 15px auto;
}

.product-nav h3{
    margin: 0;
}

.product-nav a,
main a{
    color: #5762D5;
    text-decoration: none;
    transition-duration: 0.3s;
}

.product-nav a:hover,
main a:hover{
    color: #fb6376;
}

main{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
}

.product-card{
    background-color: #e9e6f0;
    border-radius: 20px;
    width: 250px;
}

.card-text{
    padding: 20px 25px;
}

.product-card a{
    text-decoration: none;
}

.product-img{
    border-radius: 20px 20px 0 0;
}

footer{
    background-color: #2B2343;
    height: 300px;
    width: 100%;
    color: white;
    text-align: center;
}